.cart-items{
    margin: 30px auto;
    width: 60%;
    background-image: linear-gradient(aqua,yellow,blue);
    border: 2px solid black;
    border-radius: 5px;
}

.cart-items-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.cart-items-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart-items-empty img{
    width: 100px;
    margin-left: 20px;
}

.cart-items-image{
    width: 100px;
    height: auto;
    border: 2px solid black;
    margin-right: 10px;
}

.cart-items-list{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
}

.cart-items-name,.cart-items-function{
    width: 25%;
}

.cart-items-add,.cart-items-remove{
    width: 30%;
    margin-right: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.cart-items-remove{
    color: black;
    background-color: white;
}

.cart-items-add:active{
    transform: translateY(1.2px);
}

.cart-items-remove:active{
    transform: translateY(1.2px);
}

.cart-items-add:hover{
    color: black;
    background-color: white;
}

.cart-items-remove:hover{
    color: white;
    background-color: black;
}

.cart-items-total-price-name{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    padding-left: 30%;
    font-weight: 700;
    font-size: 20px;
    border-top: 2px solid black;
   
}

.cart-items-total-price{
    display: flex;
    padding-left: 10px;
    background-color: red;
    padding:5px;
    color: white;
    border-radius: 3px;
    }

.clear-cart-button{
    border: none;
    border-radius: 5px;
    background-color: red;
    height: 30px;
    width: 100px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.clear-cart-button:hover{
    background-color: black;
}

.clear-cart{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}


